.promo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.promo_wrapper_content {
    display: flex;
    flex-direction: column;
    width: 660px;
}

.promo_wrapper_content h1 {
    font-family: 'Raleway-SemiBold';
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 40px;
}

.promo_wrapper_content p {
    font-family: 'Raleway-Regular';
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 50px;
}

.promo_wrapper_content button {
    font-family: 'Raleway-Regular';
    font-size: 20px;
    line-height: 20px;
    color: #ffff;
    font-weight: 700;
    width: 200px;
    height: 56px;
    background-color: #181818;
    border-radius: 28px;
}